@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-neutral-400 bg-[#e5e5e5];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-neutral-500;
  }
  .h1 {
    @apply text-[40px] leading-[40px] lg:text-[60px] lg:leading-[62px] font-extrabold;
  }
  .h2 {
    @apply text-[32px] leading-[40px] lg:text-[50px] lg:leading-[50px] font-extrabold;
  }
  .h3 {
    @apply text-[38px] leading-[46px] font-extrabold;
  }
  .h4 {
    @apply text-[30px] leading-[46px] font-extrabold;
  }
  .h5 {
    @apply text-[24px] leading-[32px] font-extrabold;
  }
  .h6 {
    @apply text-[18px] leading-[28px] font-bold;
  }
  .text-body-sm {
    @apply font-secondary font-normal text-[16px] leading-[26px];
  }
  .text-body-md {
    @apply font-secondary font-normal text-[20px] leading-[32px];
  }
  .text-body-lg {
    @apply font-secondary font-normal text-[24px] leading-[34px];
  }
  .btn {
    @apply flex justify-center items-center rounded-[1px] rounded-md;
  }
  .btn-sm {
    @apply font-primary font-bold uppercase text-[12px] leading-[18px] h-[42px] px-[30px] tracking-[1px] rounded-md;
  }
  .btn-lg {
    @apply font-primary font-bold uppercase text-[14px] leading-[18px] h-[46px] px-[40px] tracking-[1px] rounded-md;
  }
  .btn-primary {
    @apply bg-primary-200 text-neutral-100 hover:bg-primary-200/90 transition rounded-md;
  }
  .btn-secondary {
    @apply bg-white text-neutral-500 hover:bg-white/90 transition rounded-md;
  }
  .link {
    @apply text-neutral-500 text-sm uppercase font-extrabold tracking-[1px];
  }
  .section {
    @apply pb-[80px] md:pb-[110px] lg:pb-[180px];
  }
  .section-title-group {
    @apply flex items-center justify-center -space-x-20 mb-[50px] lg:mb-[80px];
  }
  .section-title {
    @apply flex -space-x-4;
  }
}
*{
  font-family: 'Roboto', sans-serif;
}

:root{
  --base:#25C870;
  --secondary:#131316;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-pagination-bullet-active{
  background: white;
}
.swiper-button-next:after, .swiper-button-prev:after{
  content:none;
}
#root{
  background-color: #131316;
}

.productosSlider .swiper-wrapper {
  height: 450px;
  /* background: pink; */
}

.productosSlider .swiper-button-prev::after,
.productosSlider .swiper-button-next::after {
  content: '';
}

.productosSlider .swiper-button-prev,
.productosSlider .swiper-button-next {
  top: 96%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
}

.productosSlider .swiper-button-prev {
  left: 88.4%;
  background-image: url('../src/assets/img/chevron-left.svg');
}

.productosSlider .swiper-button-next {
  background-image: url('../src/assets/img/chevron-right.svg');
  right: 66px;
}

@media (max-width: 1300px) {
  .productosSlider .swiper {
    height: auto;
  }
  .productosSlider .swiper-wrapper {
    height: 50vw;
  }
  .productosSlider .swiper-button-prev,
  .productosSlider .swiper-button-next {
    display: none;
  }
}